@model Supply

<a asp-controller="Home" asp-action="Index">Home</a> |
<a asp-controller="Supplies" asp-action="All">Supplies</a> |
<a asp-controller="Supplies" asp-action="Add">Add supply</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Plantation Id</th>
            <th>Warehouse Id</th>
            <th>Schedule Date</th>
            <th>Closed Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.PlantationId</td>
            <td>@Model.WarehouseId</td>
            <td>@Model.ScheduledDate</td>
            <td>@Model.ClosedDate</td>
            <td>@Model.Status</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Supplies" asp-action="Update" asp-route-id="@Model.Id">Update</a> |
<a asp-controller="Supplies" asp-action="All">Cancel</a>